:host{
  display: block;
  margin: 1rem auto;
  /*by default, element are not set to block, so for margin etc to work must set display to block*/
}

.info-text{
  text-align: center;
}

mat-spinner{
  margin: auto;
}

.post-image{
  width: 100%;
}

.post-image img{
  width: 100%;
  box-shadow: 1px 1px 5px white;
}

mat-paginator{
  margin-top: 1rem;
}
